// Hoja de estilos para navbar
.navbar {
    background-color: $primary;

    .navbar-list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background: gradient-bg($primary, $secondary);

        .navbar-list-item {
            display: inline-block;
            $navbar-padding-x: $padding-x + .5;
            $navbar-padding-y: $padding-y + .2;
            @include padding-xy($navbar-padding-x, $navbar-padding-y);
            font-size: $font-size-base*1.1;
            img {
                width: 70%;   /* 70% del tamaño original */
                height: auto;
            }
            &:hover {
                font-size: $font-size-lg;
                a {
                    color: $accent;
                }
            }
        }
    }
}