@use 'sass:color';

//Colores primarios
$red: rgb(229, 81, 79);
$green: #64e06c;
$blue: rgb(18, 210, 231);
$white: oldlace;

//Triada o paleta de colores
$primary: $green;
$secondary: color.adjust($blue, $lightness: 10%);
$accent: color.adjust($red, $lightness: -20%);

//Color de la fuente y tamaño
$color: black;
$font-size-base: 1.2rem;
$font-size-lg: $font-size-base*1.01;

//Color para el borde y su radio
$border-bottom-color: color.adjust($secondary, $lightness: 20%);
$border-radius: .5rem;

//Padding
$padding-x: .5rem;
$padding-y: -5rem;


